body{
    background-color: black;
    margin-top: 100px;
    user-select:none;

}
.play-view{
    width: 1000px;
    height: 600px;
    margin:auto;
    position:relative;
}

.etc div, .player, .target{
    position: absolute;
    top:0px;
    left:0px;
    width: 128px;
    height:128px;
}

.etc div{
    background-image: url('../img/man.png');
    /*transition: all 200ms ease-in-out;*/
}

.player{
    background-image: url('../img/player.png');
}

.target{
    background :no-repeat url('../img/dog.png');
    background-position:center bottom;
}
