body{
    background-color: black;
    margin-top: 100px;
    user-select:none;

}
.play-view{
    visibility: hidden;
    width: 1000px;
    height: 600px;
    margin:auto;
    position:relative;
}

.etc div, .player, .target{
    position: absolute;
    top:0px;
    left:0px;
    width: 128px;
    height:128px;
}

.etc div{
    background-image: url('../img/man.png');
    /*transition: all 200ms ease-in-out;*/
}

.player{
    background-image: url('../img/player.png');
}

.target{
    background :no-repeat url('../img/dog.png');
    background-position:center bottom;
}

.play-control{
    display:flex;
    justify-content: center;
    align-items: flex-end;
    margin : 30px 0;
    transition: all 200ms ease-in-out;
}
.play-btn{
    font-size: 1.5em;
    text-align: center;
    color:white;
}

.time-counter {
    color: white;
    display: inline-block;
    margin : 0 20px;
    font-size: 1.5em;
}

.target-counter{
    display: inline-block;
    font-size: 2em;
    color: white;
}

.play-result{
    width: 600px;
    height: 300px;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index: 600;
    border-radius: 20px;
    border: solid 5px black;
    display: none;
    position : absolute;
    background-color: white;

    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.play-result button {
    text-align: center;
    font-size: 4em;
}

.play-result p {
    margin-top:10px;
    font-size: 2em;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}